<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
<%= link_to "Yes", contact_path(@contact, previous_query_string), class: "btn btn-danger", remote: true, method: :delete %>
