$('#new-btn').html('<%= escape_javascript render("new_btn") %>');
$('#contacts').html('<%= escape_javascript render(@contacts) %>');
$('#paginator').html('<%= escape_javascript paginate(@contacts, remote: true, params: safe_paginate_params.merge(previous_query_string)) %>'); 
$('#sidebar').html('<%= escape_javascript render("layouts/sidebar") %>');
